
.text-infos {
  background-color: white;
  padding: 16px;

}
.book-button {
  margin: 10px 0;
}

.zeppelin-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;

  h1 {
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 48px;
    text-align: right;

  }
}

.show-zeppelin{

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 25px;

  #map{
    margin-top: 20px;
    min-width: 50vw;
    min-height: 50vh;
  }
}

.zep-cont{
  padding: 0 20px;
  .informations {
    display: flex;
    flex-direction: column;
  }
}
