.informations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 16px;
}

.text-infos {
  background-color: white;
  padding: 16px;
}

.zeppelin-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;

  h1 {
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 48px;
  }
}

#zep-cont {
  margin-top: 16px;
}
