.booking-content{
    margin: 0 auto;
    max-width: 80%;
    .booking-header{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }

    .booking-img{
        height: 300px;
        border-radius: 8px;
        margin-bottom: 20px;
    }

    
    
    .zeppelin-info{
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        background-color: #1E1E1E;
        padding: 20px;
        position: relative;

    }
    
    @media (max-width: 600px) {
        .booking-img{
            height: 150px;
        }

    }
    
    .delete-booking{
        position: absolute;
        bottom: 10px;
        right: 10px;
        text-decoration: none;
        color: #d82727 !important;
        transition: transform ease 0.5s;
        &:hover{
            transform: scale(1.05);
        }
    }

    h3{
        background-color: rgb(66, 64, 64);
        text-align: center;
    }

}