$background-color: #e1f2fb;
$text-color : #2E3436FF;
$border-color: #8bc4e0;

.dashboard{
    display: flex;
    min-height: 90vh;
}

.side-bar{
    background-color: #fff;
    width: 20%;
    text-align: center;
    overflow-wrap: break-word;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
    padding: 5px;
    

    h2{
        margin-top: 20px;
    }

    .user-name{
        margin: 50px 0;
    }
}

.dash-info{
    padding-left: 50px;
    width: 100%;
    
    h2{
        text-align: center;
        margin-top: 50px;
    }

    a{
        text-decoration: none;
    }
}

@media (max-width: 950px){
    .dash-booking{
        justify-content: center !important;
    }
}

.dash-booking{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .zeppelin-card{
        margin-right: 50px;
    }
}
.zeppelin-add {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 280px;
    width: 300px;
    background-color: #fff;
    border-radius: 25px;
    margin-top: 50px;
    color: rgba($color: #000000, $alpha: 0.3);
    transition: 0.3s ease;
    margin-right: 50px;

    span {
        font-size: 50px;
    }
    &:hover {
        transform: scale(1.05);
        background-color: $text-color;
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
        color: #fff;
      }
}



