<div class="container">
  <%= simple_form_for [@zeppelin, @booking] do |f| %>
  <%= f.input :booking_date %>
  <%= f.submit %>
  <% end %>
  <p>Your total will be : €<%= @zeppelin.price %> </p>
</div>
