<% unless @zeppelins.empty?%>
<div
id="map"
class="map-index"
data-markers="<%= @markers.to_json %>"
data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<% end %>
<div class="container">
  <h1>Results</h1>
  <% if @zeppelins.empty? %>
  <p>Sorry! There are no zeppelins available for this location.</p>
  <% else %>
  <%= render 'list', zeppelins:  @zeppelins %>
  <% end %>
</div>
