@import "config/bootstrap_variables";

$background-color: #e1f2fb;
$text-color : #2E3436FF;
$border-color: #8bc4e0;

.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  .zeppelin-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 15px;
    transition: 0.3s ease;
    color: $text-color;
    margin: $margin;
    width: 300px;
    &:hover {
      transform: scale(1.05);
      background-color: $text-color;
      color: $background-color;
      box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
    }
    .zeppelin-img {
      width: 100%;
      img {
        object-fit: contain;
        object-position: 50% 50%;
      }
    }
    .zeppelin-info {
      padding: $padding;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .zeppelin-name {
        text-align: center;
      }
      .zeppelin-price {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
    .card-link {
      text-decoration: none;
    }
  }
}
