.event {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  bottom: 3px;
  left: calc(50% - 1.5px);
  content: " ";
  display: block;
  background: #73D216FF;
}

.event.busy {
  background: #f64747;
}
