.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-lewagon h2 {
  text-align: left;
}

@media (max-width: 840px){
  .navbar .input{
    display: none;
  }
}

.navbar .form-group{
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .input{
  margin-right: 8px;
}
